body{
    height: 100vh;
    transition: background-color .3s;
    margin: 0;
    background-color: #333;

    .cards-list{
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(-60deg) rotateZ(-40deg);

        .card{
            width: 50px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            transition: .3s;
            animation: loading 2s infinite;
            font-family: Arial, Helvetica, sans-serif;
            color: transparent;

            &:nth-child(1){ animation-delay: 0s; }
            &:nth-child(2){ animation-delay: .2s; }
            &:nth-child(3){ animation-delay: .4s; }
            &:nth-child(4){ animation-delay: .6s; }
            &:nth-child(5){ animation-delay: .8s; }
            &:nth-child(6){ animation-delay: 1s; }
            &:nth-child(7){ animation-delay: 1.2s; }

        }
        
    }
}

@keyframes loading{
    0%{
        background-color: #444;
        transform: scale(.8);
        margin-top: 0px;
        color: transparent;
    }
    10%{
        background-color: #00ccff;
        box-shadow: 0 0 20px #00ccff;
        transform: scale(1);
        margin-top: -100px;
        color: #fff;
    }
    100%{
        background-color: #444;
        transform: scale(.8);
        margin-top: 0px;
        color: transparent;
    }
}